<script>
  import AuthService from "./../../ad_auth/authad"
  import GraphService from "./../../ad_auth/graphad"
  import {Account} from 'msal'
  import vlogin from './../../views/Home'

  export default {
    name: 'Navigation',
    data(){
      return {
      user: null,
      userInfo: null,
      rol_admin: null,
      rol_operator: null,
      ready_api: null,
      rol: null,
      loginFailed: false,
      user_token: null
      }
    },
    created() {
      this.authService = new AuthService();
      this.graphService = new GraphService();
    },
    methods: {
      logout() {
        this.authService.logout();
        alert("bye");
        this.$router.push({name: 'Home'})
      },
      get_user(){
        var n_user= this.user;
        return n_user;
      },
      call_api() {
        if(this.user){
          //error al leer el token (vacio) 
          this.apiCallFailed = false;
          console.log(this.authService.getlogged())
          this.authService.getToken().then(
            token => {
              this.graphService.getUserInfo(token).then(
                data => {
                  this.userInfo = data;   //se lee la informacion y se pierde el usuario logeado
                  alert("welcome user with role: " + data.jobTitle)
                  if(this.userInfo){
                    this.rol="rol";
                    if(this.userInfo.jobTitle ==="Administrator"){
                      this.rol_admin = "admin";
                      console.log(this.authService.getlogged());
                    }
                    this.$router.push({name:'Report'});
                  }
                },
                error => {
                  console.error(error);
                  this.apiCallFailed = true;
                }
              );
            },
            error => {
              console.error(error);
            }
          );
          
        this.rol="rol";
        this.rol_admin="admin";
        }   
      },
      login: function() {
        this.loginFailed = false;
        this.authService.login().then(
          user => {
            if (user) {
              alert("welcome");
              this.user = user;
            } else {
              this.loginFailed = true;
              alert("login failed");
              this.$router.push({name: 'Home'})
            }
          },
          () => {
            this.loginFailed = true;
            alert("login failed");
            this.$router.push({name: 'Home'});
          }
        ).catch(function (error) {
          console.error(error)
          }
        );
      },
    }
    //inicialmente se obtenia rol automaticamente luego de  
    //logearse y validar que la info de usuario es valida
    //pero por el error de token vacio se uso un boton luego 
    // de terminar el logeo para obtener el rol
    /* 
    ,
    watch: {
    user () {
      this.call_api();
    }
  },
  */
  }
</script>

<template>
  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://www.viabcp.com/">
          <figure class="image is-96x96">
            <img src="../../img/bcp_logo.png"> 
          </figure>
        </a>     
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div v-if="!user">         
              <button class="button is-link" v-on:click="login">
                <strong>Log in</strong>
              </button>
            </div>
            <div class="buttons">
              <div v-if="user">
                <div style="margin: 5px" class="button is-danger" v-on:click="logout">
                  <strong>Log out</strong>
                </div>
                <div v-if="rol">
                  <router-link style="margin: 5px" class="button is-link" to="/report">
                    <strong>Report</strong>
                  </router-link>
                  <div v-if="rol_admin">
                    <router-link style="margin: 5px" class="button is-link" to="/issue">
                      <strong>Edit param.</strong>
                    </router-link>
                  </div>
                </div>
                <div v-if="!rol">
                  <div style="margin: 5px" class="button is-link" v-on:click="call_api">
                    <strong>Get role</strong>
                  </div>
                </div>
              </div>
              </br>
            </div>
            <p v-if="loginFailed">Login unsuccessful</p>
          </div>
        </div>
      </div>
    </nav>
    <div class="column is-4 is-offset-7" v-if="user">
      <strong>Hello,  {{user.name}}</strong>
      </br>
    </div>
  </div>  
</template>

<style lang="scss">
@import '../../scss/App.scss';
@import '../../../node_modules/bulma/bulma.sass';

#h3 {
  text-align: center;
  color: #000000;
}


</style>
