<script>
var username = 100;
import aad from "./../ad_auth/authad"

export default {
  name: 'Login',
  mode: 'history',
  data:() =>({
  }),
  methods: {
  } 
}
</script>

<template>
  <div>
      <div class="container">
        <div class="column is-4 is-offset-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">Step 1</p>
            </header>
            <div class="card-image">
              <figure>
                <img width="320" height="180" src="../img/paso1.png" alt="">
              </figure>
            </div>
            <div class="card-content">
              <h2 class="is-size-5">
                <p>
                  Click on login, make you sure pop up is enabled in your browser
                </p>
              </h2>
            </div>
          </div>
        </div>  
      </div>
      <div class="container">
        <div class="column is-4 is-offset-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">Step 2</p>
            </header>
            <div class="card-image">
              <figure>
                <img width="360" height="720" src="../img/paso2.png" alt="">
              </figure>
            </div>
            <div class="card-content">
              <h2 class="is-size-5">
                <p>
                  Login by pop up, with credentials belong to this domain
                </p>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="column is-6 is-offset-3" >
          <div class="card is-centered">
            <header class="card-header">
              <p class="card-header-title">Step 3</p>
            </header>
            <div class="card-image">
              <figure>
                <img width="480" height="480" src="../img/paso3.png" alt="">
              </figure>
            </div>
            <div class="card-content">
              <h2 class="is-size-5">
                <p>
                  Check information and generate report
                </p>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../scss/App.scss';
@import '../../node_modules/bulma/bulma.sass';
#welcome_text {
  text-align: center;
  color: #FF5020;
}

</style>
