<script>
import Vue from 'vue'
import aad from './../ad_auth/authad'

export default {
   name: 'Issue',
   mode: 'history',
   data(){
    return{
      name:'',
      description:''
    };
  },
  methods: {
    send_email(){
      alert("This mail was sent")
      this.$router.push({name: 'Home'})
    }
  }
}
</script>

<template>
  <div class="container mt-50">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Contact us to support you</h3><hr>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" id="issueName"type="text" placeholder="i.e. javier zarate">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" id="issueMail" type="text" placeholder="i.e. javierzarate@gmail.com">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" id="issueText"type="text" placeholder="Explain your problem here">
          </div>
        </div>
        <button class="button is-primary" v-on:click="send_email()">Send email</button>     
      </div>
    </div>
  </div>
</template>
