<script>
import Vue from 'vue'
import aad from './../ad_auth/authad'
import axios from 'axios'
import VueAxios from 'vue-axios'
import BootstrapVue from 'bootstrap-vue'
import JsonExcel from 'vue-json-excel'

Vue.use(VueAxios,axios);
Vue.use(BootstrapVue);
Vue.component('downloadExcel',JsonExcel)

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

var cont=100;
var index = 1;

export default {
  name: 'Report',
  mode: 'history',
  data(){
    return{
      j_header: ['ID','Banco Origen','Banco Destino','Hora','Fecha','Tipo de transfer.','Proceso','Rol','Trace','Canal','Cod. de Rpta. ampliado','Cod. de Origen de Respuesta','Descripcion de error','Moneda','Id. de transaccion CCE','Id. de transaccion CCE Orig','Id. de sesion aplicativa'],
      j_fields: {"ID": "campo01", "Banco Origen": "campo02", "Banco Destino": "campo03", "Hora": "campo04", "Fecha": "campo05", "Tipo de transfer.": "campo06", "Proceso": "campo07", "Rol": "campo08", "Trace": "campo09", "Canal": "campo10", "Cod. de Rpta. ampliado": "campo11", "Cod. de Origen de Respuesta": "campo12", "Descripcion de error": "campo13", "Moneda": "campo14", "Id. de transaccion CCE": "campo15", "Id. de transaccion CCE Orig": "campo16", "Id. de sesion aplicativa": "campo17"},
      j_data : [''],
      j_meta: [
        [
          {'key': 'charset',
           'value': 'utf-8'}
        ]
      ],
      page: 1,
      perPage: 20,
      pages: [],
      
			}
  },
  methods: {
    getPosts: function(){   
      let data = [];
	    for(let i = 0; i < 100; i++){
	      this.j_data.push({
          campo01: '#'+i,campo02: 'BCP',campo03: 'BCP',campo04: '09:44:30',campo05: '15/2/2020',campo06: 'Interbancaria5',campo07: 'Failed',campo08: 'Rol1',campo09: 'Trace1',campo10: 'Canal1',campo11: '0101-0303-0505',campo12: '0808-0444',campo13: '0001',campo14: 'Soles',campo15: '788655',campo16: '045588',campo17: '789787'
	      });
	    }
    },
    setPages () {
            var numberOfPages = Math.ceil(this.j_data.length / this.perPage);
            while (index <= numberOfPages) {
                this.pages.push(index);
                index++;
            }
    },
    paginate: function(j_data){
      var page = this.page;
      var perPage = this.perPage;
      var from = (page * perPage) - perPage;
      var to = (page * perPage);
      return  j_data.slice(from, to);
    },
    
    add_row: function(){
      var d = new Date();
      var cell_add = document.getElementById('texto_agrega').value;
      var res = document.querySelector('#table_body');
      this.j_data.push({
          campo01: cont,campo02: 'BBVA',campo03: cell_add ,campo04: d.getHours()+':'+d.getMinutes()+':'+d.getSeconds(),campo05: d.getDate()+'/'+d.getMonth()+'/'+d.getFullYear(),campo06: 'Interbancaria5',campo07: 'Failed',campo08: 'Rol1',campo09: 'Trace1',campo10: 'Canal1',campo11: '0101-0303-0505',campo12: '0808-0444',campo13: '0001',campo14: 'Soles',campo15: '788655',campo16: '045588',campo17: '789787'
      });
      cont+=1;
      document.getElementById('texto_agrega').value = ''
    }
   ,
     json: async function(){
      //console.log("hola a todos");
      var vm = this;
      let datos = await axios.get('http://localhost:8081/catalogo.json');
      //var res = document.querySelector('#table_body')
      //res.innerHTML ='';
      //let add_row ='';
      let datos_json = JSON.parse(JSON.stringify(datos.data));
      console.log(datos_json);      
      for (let dato_json of datos_json){
        //res.innerHTML +=`
        this.j_data.push({
          campo01: dato_json.campo01,campo02: dato_json.campo02 , campo03: dato_json.campo03, campo04: dato_json.campo04,campo05: dato_json.campo05 , campo06: dato_json.campo06, campo07: dato_json.campo07,campo08: dato_json.campo08 , campo09: dato_json.campo09, campo10: dato_json.campo10,campo11: dato_json.campo11 , campo12: dato_json.campo12, campo13: dato_json.campo13,campo14: dato_json.campo14 , campo15: dato_json.campo15, campo16: dato_json.campo16,campo17: dato_json.campo17 
        });
      }
      //res.innerHTML +=add_row;
    }
  },
  computed: {
    table_rows () {
      return this.paginate(this.j_data);
    }
  },
  watch: {
    j_data () {
      this.setPages();
    }
  },
  created(){
    this.getPosts();
  },
  filters: {
    trimWords(value){
      return value.split(" ").splice(0,20).join(" ") + '...';
    }
  }
}
</script>

<template>
  <div id="app1" class="container mt-5" >
    <h1>
      <div :class="['p-4','text-white','bg-info']">
        <p>Data Report </p>
      </div>
    </h1>
    
      <div id="table_excel" class="table-container">
        <table ref="table" id="excel1" summary="Tabla de prueba" rules="groups" frame="hsides" class="table table is-bordered table is-hover table-sm " cellspacing="0" width="100%" >
          <thead class="selected">
            <th  v-for="head_col in j_header">{{head_col}}</th>
          </thead>
          <tbody id="table_body">
            <tr class="selected" v-for="table_row in table_rows">
              <td>{{table_row.campo01}}</td>
              <td>{{table_row.campo02}}</td>
              <td>{{table_row.campo03}}</td>
              <td>{{table_row.campo04}}</td>
              <td>{{table_row.campo05}}</td>
              <td>{{table_row.campo06}}</td>
              <td>{{table_row.campo07}}</td>
              <td>{{table_row.campo08}}</td>
              <td>{{table_row.campo09}}</td>
              <td>{{table_row.campo10}}</td>
              <td>{{table_row.campo11}}</td>
              <td>{{table_row.campo12}}</td>
              <td>{{table_row.campo13}}</td>
              <td>{{table_row.campo14}}</td>
              <td>{{table_row.campo15}}</td>
              <td>{{table_row.campo16}}</td>
              <td>{{table_row.campo17}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    
    <!--
    <div>
      <button id="bt_search" v-on:click="btab('in_search','excel1')">
        Search 
      </button>
    </div>
    -->
      <div class="offset">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                </li>
                <li class="page-item">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
                </li>
            </ul>
        </nav>  
      </div>
        <div class="column is-6 is-offset-3">
          <input type="text"  id="texto_agrega" placeholder="escribe aqui" @keyup.enter="add_row()">
        </div>
        <div class="columns">
          <div class="column is-2 is-offset-3">
            <download-excel
              class   = "button is-link"
              :data   = "j_data"
              :fields = "j_fields"
              worksheet = "My Worksheet"
              name    = "data.xls">
            </download-excel>
          </div>
          <div class="column is-2">
            <button v-on:click="add_row()" class="button is-link">
              Add a row
            </button>
          </div>
          <div class="column is-2">
            <button v-on:click="json()" class="button is-link">
              Import from json
            </button>
          </div>
        </div>
      </div>

  </div>
</template>

<style lang="scss">
@import '../scss/App.scss';
@import '../../node_modules/bulma/bulma.sass';
#table_excel {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.button {
  background-color: #f76a19;
}
button.page-link {
    display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}

</style>
